    <h1 class="text-light text-center h3">Your favorite coins</h1>

    <div class="cards d-flex container mt-4" id="grade_top_coins"
        style=" margin-bottom:10rem; margin-left:5rem; gap:3rem">

        <div class="" style="width: 15rem;">
            <img class="card-img-top" id="bitcoin-image" src="" alt="Card image cap" style="width: 100%;">
            <div class="card-body text-center">
                <h5 class="card-title text-light" id="bitcoin-price">R$ 0.00</h5>
                <p class="card-text text-light" id="bitcoin-name" style="font-size:15px">Bitcoin</p>
            </div>
        </div>

        <div class="" style="width: 15rem;">
            <img class="card-img-top" id="etherium-image" src="" alt="Card image cap" style="width: 100%;">
            <div class="card-body text-center">
                <h5 class="card-title text-light" id="etherium-price">R$ 0.00</h5>
                <p class="card-text text-light" id="etherium-name" style="font-size:15px">Ethereum</p>
            </div>
        </div>

        <div class="" style="width: 15rem;">
            <img class="card-img-top" id="tether-image" src="" alt="Card image cap" style="width: 100%;">
            <div class="card-body text-center">
                <h5 class="card-title text-light" id="tether-price">R$ 0.00</h5>
                <p class="card-text text-light" id="tether-name" style="font-size:15px">Tether</p>
            </div>
        </div>
    </div>
