<section class="hall container-fluid d-flex pt-5 section bg2 about-me" id="about">
    <div class="container mt-5" style="width:60rem;">
        <div class="text-light text-center revealUp">
            <h1 class="font-weight-normal mb-3  text-uppercase ">About CryptoCoins</h1>
            <p class="font-weight-normal mb-3 ">
                The "CryptoCoins" page is an academic project developed as part of the degree in Analysis and
                Systems development. Its main objective is to offer information about cryptocurrencies, such as
                Bitcoin, Ethereum and many others, as well as monitoring their quotes in real time. To reach
                To achieve this objective, several technologies were used in the development:
            </p>
            <p>
                HTML: HTML is the backbone of the page, being used to create the structure and content of the page.
                platform, from headers and paragraphs to search forms and data tables.
            </p>
            <p>
                Bootstrap: The Bootstrap framework was used for the design and appearance of the page. He provides
                pre-made components and styles that make it easy to create a responsive and attractive layout,
                ensuring that the page is accessible on devices of different sizes.
            </p>
            <p>
                MySQL: MySQL database management system is used to store and manage
                information about cryptocurrencies, such as price history, market information and others
                relevant statistics.
            </p>
            <p>
                PHP: The PHP programming language is used to create the back-end logic of the page. She
                allows data to be retrieved from the database, processed and presented to users of
                dynamic way. Additionally, PHP can also be used to interact with third-party APIs such as
                those that provide real-time data on cryptocurrencies.
            </p>
            <p>
                jQuery: The jQuery JavaScript library is employed to make the page more interactive. She can
                be used to create features such as dynamic charts, real-time updates of information
                market and improve user experience.
            </p>
            <p>
                Overall, the "CryptoCoins" page aims to provide users with an informative and practical platform
                to follow the latest news and cryptocurrency quotes, with a user-friendly interface and
                responsive, thanks to HTML, Bootstrap, MySQL, PHP and jQuery technologies.
            </p>

            <button class="btn btn-Sm" style="background-color: #1e4fc4; color:#fff;">
                <a href="https://www.linkedin.com/in/pedrolcavejon/">Check out my profile!</a></button>
        </div>
    </div>
</section>