<div class="container overflow-hidden text-center  app-about">
    <div class="row">
        <div class="col">
            <div class="p-3" style="width: 35rem; margin-top:7rem">
                <h2 class="text-light mt-5 " style="font-size: 2.6rem">A <span class="animate-charcter"
                        style="color: #1e4fc4;">CryptoCoins</span> yours real-time consultation.</h2>
                <p style="font-size:1.4rem" class="text-light mt-4">
                    CrytoCoins is the easiest and fastest place to check cryptocurrencies. Register and get
                    started today the check the market.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="container" style="width:40rem; ">
                <img src="../../../assets/eth-3738542.png" alt="" class="container img-fluid">
            </div>
        </div>
    </div>
</div>